.sectionContainer {
  height: 100vh;
  width: auto;
  position: absolute;
}
.container {
  width: 100%;
  display: flex;
}
.content {
  border: 2px solid black;
  background: #fcf4d9;
  width: 500px;
  height: 500px;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 5px;
}
.content h1 {
  text-align: center;
}

/* Button */
.add-dtr {
  width: 150px;
  height: 25px;
  text-align: center;
  background: #a7bcb9;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

.content table {
  background: white;
  width: 100%;
}
.content table thead tr {
  display: flex;
}

.one {
  width: 10%;
}

.two {
  width: 10%;
}

.three {
  width: 15%;
}

.four {
  width: 16%;
}

.five {
  width: 16%;
}

.six {
  width: 15%;
}

.seven {
  width: 15%;
}

/* Table data */

.td-content {
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: auto;
}
.td-one {
  width: 3%;
}
.td-two {
  width: 3%;
}
.td-three {
  width: 5%;
}
.td-four {
  width: 5%;
}
.td-five {
  width: 5%;
}
.td-six {
  width: 5%;
}
.td-seven {
  width: 4%;
}

/* Add modal */
.modal-container-main {
  background: rgba(49, 49, 49, 0.8);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  width: 850px;
  height: 450px;
  background: white;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
}

.modal-container h1 {
  text-align: center;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-container input {
  width: 110px;
  height: 25px;
  border: 1px solid black;
  padding: 5px;
}

.addDtrData {
  background: #42b883;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.submit-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 25px;
  background: #8dc6ff;
}
