* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

/* ===================================== Navbar  ===================================== */
.navBar {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
}
.nav-container {
  margin-top: 10px;
}
.nav-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 60px;
}
.text-logo {
  font-size: 25px;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text-logo:hover {
  color: aqua;
  transition: 0.5s;
}

.nav-container header a {
  text-decoration: none;
  color: white;
}
.button-navbar button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.button-navbar button:hover {
  background: indianred;
  transition: 0.2s;
  border: none;
  color: white;
}

/* ===================================== Login  ===================================== */
.parent-container {
  border: 2px solid black;
  position: absolute;
  width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.parent-container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.left {
  width: 50%;
  border-right: 2px solid black;
  /* box-shadow: 10.5px 0px rgb(110, 109, 109); */
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: whitesmoke;
}

.right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-email {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}

.input-email label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-email input {
  width: 185px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  font-size: 12px;
}

.input-password {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}

.input-password label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-password input {
  width: 185px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  font-size: 12px;
}

.btn-login {
  width: 180px;
  height: 35px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-login:hover {
  background: blue;
  color: white;
  transition: 0.5s;
  border: none;
}

.register-link {
  margin-top: 3rem;
  text-align: center;
}

/* ===================================== Register ===================================== */
.child-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.register-img {
}

.child-container h1 {
  margin-top: 2rem;
}

.child-container form button {
  margin-top: 5rem;
  width: 12rem;
  height: 2.5rem;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.child-container form button:hover {
  background: purple;
  color: white;
  transition: 0.5s;
  border: none;
}

.child-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.child-container label {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

/* Fullname input */
.fullname-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.fullname-container input {
  width: 20rem;
  height: 1.5rem;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

/* Email input */
.email-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.email-container input {
  width: 20rem;
  height: 1.5rem;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

/* Password input */
.password-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.password-container input {
  width: 20rem;
  height: 1.5rem;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

/* Confrirm Password */
.confirm-password-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.confirm-password-container input {
  width: 20rem;
  height: 1.5rem;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ===================================== Dashboard ===================================== */
.dashboard-main-container {
  display: flex;
  margin-top: 3.3rem;
  height: 100vh;
  width: 100%;
}

/* ===================================== Loading animation ===================================== */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 100px;
  height: 100px;
  border: 100px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
