* {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.content-1 {
  border: 1px solid black;
  width: 260px;
  height: 250px;
  margin-right: 10px;
  padding: 5px;
  overflow: auto;
}

.content-1 h1 {
  text-align: center;
  margin-bottom: 10px;
}

.content-1 input {
  width: 100%;
  margin-bottom: 5px;
}

.content-1 button {
  width: 100%;
  height: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 900;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px gray;
}

.content-1 button:hover {
  background: blueviolet;
  border: none;
  color: aliceblue;
  box-shadow: 0px 5px burlywood;
}

.inside-content-1 {
  padding: 5px;
}

.inside-content-1 table th {
  background: gainsboro;
  padding: 5px;
  text-align: center;
}

.inside-content-1 table td {
  border: 1px solid gray;
  text-align: center;
}

.inside-content-1 table {
  text-align: justify;
  width: 100%;
}

.content-2 {
  border: 1px solid black;
  width: 380px;
  height: 260px;
  overflow: auto;
  margin-right: 10px;
}

.content-2 input {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
}

.cutofId input {
  margin-top: 0;
  width: 80%;
  height: 10px;
}

.content-2 h1 {
  text-align: center;
}

.content-2 table {
  width: 100%;
  height: auto;
}

.content-2 table th {
  padding: 5px;
  background: gainsboro;
  text-align: center;
}

.content-2 table td {
  text-align: center;
  border: 1px solid gray;
  cursor: pointer;
}

.content-3 {
  border: 1px solid black;
  width: 310px;
  height: 260px;
  overflow: auto;
  margin-right: 10px;
}

.content-3 h1 {
  text-align: center;
}

.cutofId {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.cutoff-btn {
  width: 50%;
  height: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 900;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px gray;
}

.cutoff-btn:hover {
  background: blueviolet;
  border: none;
  color: aliceblue;
  box-shadow: 0px 5px burlywood;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 4px;
}

/* *********************************** 2nd Project *********************************** */
.main3 {
}

.ultra-main {
  display: flex;
}

.create-cutoff-container {
  border: 2px solid black;
  width: 350px;
  height: auto;
  padding: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.title1 {
  text-align: center;
}

.selectCutoff-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cutoff {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-cutoff button {
  width: 100px;
  height: 25px;
  cursor: pointer;
  outline: none;
  border: 2px solid #42b883;
  background: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: 0.5s;
  font-weight: bold;
}
.btn-cutoff button:hover {
  background: #42b883;
  border-radius: 10px;
}

/* Inputs */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ----Import Section----- */
.import-dtr-container {
  border: 2px solid black;
  width: 350px;
  height: auto;
  padding: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.import-file-container form {
  display: flex;
  flex-direction: column;
}

/* from file import */
.dtr-file {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
.dtr-file label {
  font-weight: bold;
  margin-bottom: 2px;
}

.dtr-import-file {
  width: 170px;
}

.summary-file {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
.summary-import-file {
  width: 170px;
}

.import-cutoff {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.import-dropdown {
  width: 150px;
}

/* import submit btn */
.import-submit {
  margin-top: 1rem;
  width: 100px;
  height: 25px;
  cursor: pointer;
  outline: none;
  border: 2px solid #42b883;
  background: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: 0.5s;
  font-weight: bold;
}

.import-submit:hover {
  background: #42b883;
  border-radius: 10px;
}

.import-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-dtr {
}

.table-dtr table {
  width: 100%;
}

.table-dtr table thead {
}

.table-dtr table thead tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.table-dtr table thead tr th {
  width: 100%;
  border: 1px solid black;
}

.table-dtr table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-dtr table tbody tr td {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

/* ********** Data DTR ********** */
.data-dtr-container {
  border: 2px solid black;
  width: 350px;
  height: auto;
  padding: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.data-dtr-container table {
  width: 100%;
}

.data-dtr-container table thead tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.data-dtr-container table thead tr th {
  width: 100%;
  border: 1px solid black;
}

.data-dtr-container table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.data-dtr-container table tbody tr td {
  width: 100%;
  border: 1px solid black;
}

.right {
  overflow: auto;
}

/* Summary Section */
.import-summary-container {
  border: 2px solid black;
  width: 750px;
  height: auto;
  padding: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

/* table */
.import-summary-container table {
  width: 100%;
}

.import-summary-container table thead tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.import-summary-container table thead tr th {
  width: 100%;
  border: 1px solid black;
  font-size: 12px;
}

.import-summary-container table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.import-summary-container table tbody tr td {
  width: 100%;
  border: 1px solid black;
  font-size: 12px;
}
